.Tnavbar{
    display: flex;
    width: 550px;
    height: 55px;
    flex-shrink: 0;
    background-color: #F55A5A;
    align-items: center;
    justify-content: center;
}

.worldicon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.Tnavbar-text{
    color: #FFF;
    font-size: 14.461px;
    font-family: Inter;
    font-weight: 500;
    padding-left: 7px;
    margin-top: auto;
    margin-bottom: auto;
    font-style: normal;
    letter-spacing: -1.085px;
    line-height: normal;
}

/* Travel.css */

.tcard {
    display: flex;
    width: 550px; /* Adjust the max-width as needed */
    padding: 18px;
    border-bottom: 1px solid #F5F5F5;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .tcard-image img {
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .tcard-details {
    padding: 19px 19px 0px 19px;
  }
  
  .tcard-location {
    display: flex;
    align-items: center;
    padding: 0px;
  }
  
  .tcard-location svg {
    margin-right: 5px;
  }
  
  .tcard-title {
    color: #2B283A;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 4px 0px 18px 0px;
  }
  
  .tcard-description {
    color: #2B283A;
    font-family: Inter;
    font-size: 11px;
    margin: 0px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 15.36px */
    width: 326px;
  }
  
  .Travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

  .tcardicon {
    width: 7px ;
    height: 10px ;
    fill: none;
    }

  p.Location {
    margin: 0px;
    padding: 0px 4px;
    color: #2B283A;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.741px;

  }
  p.VGmap {
    margin: 0px;
    color: #918E9B;
    font-family: Inter;
    padding: 0px 12px;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;

  }

  p.tcard-Date{
    color: #2B283A;
    font-family: Inter;
    font-size: 11px;
    margin: 9px 0px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    }

