.Tnavbar{
    display: flex;
    width: 550px;
    height: 55px;
    flex-shrink: 0;
    background-color: #F55A5A;
    align-items: center;
    justify-content: center;
}

.worldicon{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.Tnavbar-text{
    color: #FFF;
    font-size: 14.461px;
    font-family: Inter;
    font-weight: 500;
    padding: 7px;
    font-style: normal;
    letter-spacing: -1.085px;
    line-height: normal;
}

/* Travel.css */

.tcard {
    display: flex;
    width: 550px; /* Adjust the max-width as needed */
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .tcard-image {
    flex: 1;
  }
  
  .tcard-image img {
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .tcard-details {
    flex: 2;
    padding: 20px;
  }
  
  .tcard-location {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .tcard-location svg {
    margin-right: 5px;
  }
  
  .tcard-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .tcard-description {
    color: #555;
  }
  
  .Travel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }