* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

.navbar {
    display: flex;
    box-shadow: 0px 2.983px 7.456px rgba(0, 0, 0, 0.10);
}

.navbar > .logo {
    width: 100px;
    height: 30.9px;
    margin: 22px 0px 23px 30px;
    
}

/* Add these styles to your CSS file */

.hero {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 40px; /* Adjust the padding as needed */
    background-color: #f0f0f0; /* Set the background color as needed */
  }
  
  .hero-text {
    flex: 1;
    max-width: 600px; /* Adjust the max-width as needed */
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333; /* Set the text color as needed */
  }
  
  .hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #666; /* Set the text color as needed */
  }
  
  .btn {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #008489; /* Set the button background color as needed */
    color: #fff; /* Set the button text color as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #006666; /* Set the button hover background color as needed */
  }
  
  .hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Add border-radius for rounded corners */
  }
  
  .cardSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }